{% extends 'base.html' %}
{% load static %}

{% block mobile %}
    <!-- Меню и заголовок для мобилы -->
    <div class="const mobile-nav">
        <a href="javascript:;" class="menu-open"></a>
        <h1>
            Профиль
            <!-- Дублировал для мобильной версии -->
        </h1>
    </div>
<!-- /Меню и заголовок для мобилы -->
{% endblock mobile %}

{% block content %}
    <div class="content">
        <h1>
            Профиль
        </h1>
        <div class="content-body">
            <table class="profile">
                <tbody>
                <thead><tr><td colspan="2">Персональные данные</td></tr></thead>
                <tbody>
                    <tr>
                        <td>ФИО:</td>
                        <td>{{ user.profile.full_name }}</td>
                    </tr>
                    <tr>
                        <td>Мобильный:</td>
                        <td>{{ user.profile.phone }} <a href="#" class="edit"></a></td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td>{{ user.profile.email }}</td>
                    </tr>
                    <tr>
                        <td>Номер счета:</td>
                        <td>COOP-007-20203232</td>
                    </tr>
                    <tr>
                        <td>...</td>
                        <td>...</td>
                    </tr>

                </tbody>
                <thead><tr><td colspan="2">Адресные данные</td></tr></thead>
<form action="{% url "create" %}" method="post">
{% csrf_token %}
                    <tr>
                        <td colspan="2"><h3>Адрес регистрации</h3></td>
                    </tr>
                    <tr>
                        <td>Страна:</td>
                        <td>

                            {{ user.addressregistration.country }}

                            <select name="country" id="">
                                <option value="{{ user.addressregistration.country }}">Выберите страну</option>
                                <option value="Россия">Россия</option>
                                <option value="Украина">Украина</option>
                            </select>

                        </td>
                    </tr>
                    <tr>
                        <td>Регион:</td>
                        <td>
                            {{ user.addressregistration.region }}
                            <select name="region" id="">
                                <option value="{{ user.addressregistration.region }}">Выберите регион</option>
                                <option value="Россия">Россия</option>
                                <option value="Украина">Украина</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Город:</td>
                        <td>
                            {{ user.addressregistration.city }}
                            <select name="city" id="">
                                <option value="{{ user.addressregistration.city }}">Выберите город</option>
                                <option value="Россия">Россия</option>
                                <option value="Украина">Украина</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Улица:</td>
                        <td>
                            <input type="text" name="street" placeholder="Полное название улицы" value="{{ user.addressregistration.street }}" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Дом:</td>
                        <td>
                            <input type="text" name="house" placeholder="Номер дома" value="{{ user.addressregistration.house }}" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Корпус:</td>
                        <td>
                            <input type="text" name="corpus" placeholder="Если есть" value="{{ user.addressregistration.corpus }}" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Квартира:</td>
                        <td>
                            <input type="text" name="flat" placeholder="Номер квартиры" value="{{ user.addressregistration.flat }}" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Индекс:</td>
                        <td>
                            <input type="text" name="index" placeholder="XXXXXX" value="{{ user.addressregistration.index }}" required>
                        </td>
                    </tr>
                    <td>

                        <input type="submit" name="submit_one" value="Сохранить" class="savebut">
</td>
</form>
                <form action="{% url "create" %}" method="post">
                {% csrf_token %}
                    <tr>
                        <td colspan="2"><h3>Адрес фактического проживания</h3></td>
                    </tr>
                    <tr>
                        <td>Страна:</td>
                        <td>
                            {{ user.addressactual.country }}
                            <select name="country" id="">
                                <option value="{{ user.addressactual.country }}">Выберите страну</option>
                                <option value="Россия">Россия</option>
                                <option value="Украина">Украина</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Регион:</td>
                        <td>
                            {{ user.addressactual.region }}
                            <select name="region" id="">
                                <option value="{{ user.addressactual.region }}">Выберите регион</option>
                                <option value="Россия">Россия</option>
                                <option value="Украина">Украина</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Город:</td>
                        <td>
                            {{ user.addressactual.city }}
                            <select name="city" id="">
                                <option value="{{ user.addressactual.city }}">Выберите город</option>
                                <option value="Россия">Россия</option>
                                <option value="Украина">Украина</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Улица:</td>
                        <td>
                            <input type="text" name="street" placeholder="Полное название улицы" value="{{ user.addressactual.street }}" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Дом:</td>
                        <td>
                            <input type="text" name="house" placeholder="Номер дома" value="{{ user.addressactual.house }}" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Корпус:</td>
                        <td>
                            <input type="text" name="corpus" placeholder="Если есть" value="{{ user.addressactual.corpus }}" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Квартира:</td>
                        <td>
                            <input type="text" name="flat" placeholder="Номер квартиры" value="{{ user.addressactual.flat }}" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Индекс:</td>
                        <td>
                            <input type="text" name="index" placeholder="XXXXXX" value="{{ user.addressactual.index }}" required>
                        </td>
                    </tr>

                    <td>
                        <input type="submit" name="submit_two" value="Сохранить" class="savebut">
                    </td>
                    </form>
                </tbody>


                <thead><tr><td colspan="2">Анкета</td></tr></thead>
                <tbody>
                    <tr>
                        <td>Образование:</td>
                        <td>
                            <select name="" id="">
                                <option value="">Высшее</option>
                                <option value="">Среднее</option>
                                <option value="">Низшее</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>...</td>
                        <td>
                            ...
                        </td>
                    </tr>
                </tbody>
                <thead><tr><td colspan="2">Безопасность</td></tr></thead>
                <tbody>
                    <tr>
                        <td>Старый пароль:</td>
                        <td>
                            <input type="password" id="">
                        </td>
                    </tr>
                    <tr>
                        <td>Новый пароль:</td>
                        <td>
                            <input type="password" name="" id="">
                        </td>
                    </tr>
                    <tr>
                        <td>Повторите пароль:</td>
                        <td>
                            <input type="password" name="" id="">
                        </td>
                    </tr>
                </tbody>
            </table>

{#            <input type="submit" value="Сохранить" class="savebut">#}

{#                <div class="error"><img src="{% static 'img/information.svg' %}" alt="">{{ message }}</div>#}
{#            <div class="error"><img src="img/error.svg" alt="">Ошибка сохранения. Обратитесь в <a href="#">поддержку</a></div>#}
        </div>
    </div>
{% endblock content %}
