{% extends 'base.html' %}

{% block mobile %}
	<!-- Меню и заголовок для мобилы -->
	<div class="const mobile-nav">
		<a href="javascript:;" class="menu-open"></a>
		<h1>
			Инструкции <!-- Дублировал для мобильной версии -->
		</h1>
	</div>
	<!-- /Меню и заголовок для мобилы -->
{% endblock mobile %}


{% block content %}

			<div class="content">
				<h1>
					Инструкции
				</h1>
				<div class="content-body">
					<table>
						<thead>
							<tr>
								<td>Инструкция</td>
								<td>Загрузка</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Заявление на вступление в члены ЖК</td>
								<td>
									<a href="#" target="_blank">Скачать</a>
								</td>
							</tr>
							<tr>
								<td>Заявление на вступление в члены ЖК</td>
								<td>
									<a href="#" target="_blank">Скачать</a>
								</td>
							</tr>
							<tr>
								<td>Заявление на вступление в члены ЖК</td>
								<td>
									<a href="#" target="_blank">Скачать</a>
								</td>
							</tr>
							<tr>
								<td>Заявление на вступление в члены ЖК</td>
								<td>
									<a href="#" target="_blank">Скачать</a>
								</td>
							</tr>
							<tr>
								<td>Заявление на вступление в члены ЖК</td>
								<td>
									<a href="#" target="_blank">Скачать</a>
								</td>
							</tr>
							
						</tbody>
					</table>

				</div>

			</div>
		{% endblock content %}
