{% extends 'base.html' %}
{% load static %}

{% block mobile %}
	<!-- Меню и заголовок для мобилы -->
	<div class="const mobile-nav">
		<a href="javascript:;" class="menu-open"></a>
		<h1>
			Верификация документов  <!-- Дублировал для мобильной версии -->
		</h1>
	</div>
	<!-- /Меню и заголовок для мобилы -->
{% endblock mobile %}


{% block content %}

			<div class="content">
				<h1>
					Верификация документов
				</h1>

                {% include "include/verif_doc_menu.html" %}

				<div class="content-body">
					<p>
						Для обеспечения полноценного документооборота и формирование всех необходимых документов необходимо пройти фотоверификацию. Для этого:
						<ul>
							<li>Сделайте ксерокопию паспорта</li>
							<li>На ксерокопии обязательно напишите, своим почерком: "моя подпись на сегодняшний день такая _____(подпись)"</li>
							<li>Сделать четкую фотография, на которой вы должны держать паспорт на уровне своей шеи. Обратите внимание, все данные на фото должны быть разборчивы</li>
						</ul>
						<div class="resp-img"><img src="{% static 'img/primer.png' %}" alt=""></div>
					</p>

					<div class="table">
						<table>
							<thead>
								<tr>
									<td>Документ</td>
									<td>Загрузить документ</td>
									<td>Статус</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Фотоверификация</td>
									<td>
										<div class="file-inp">
										<label><input type="file" name="file"><span>Выберите файл</span></label>
										</div>
									</td>
									<td>Не загружен</td>
								</tr>
							</tbody>
						</table>
					</div>

<input type="button" value="Сохранить" class="savebut">
<div class="info"><img src="{% static 'img/information.svg' %}" alt="">Изменения сохранены</div>
<div class="error"><img src="{% static 'img/error.svg' %}" alt="">Ошибка сохранения. Обратитесь в <a href="#">поддержку</a></div>

				</div>

			</div>
		{% endblock content %}