{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Авторизация</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/media.css' %}">
	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
</head>

<body>
	<main>
		<div class="const autoriz">
			<div class="logo">
				<img src="{% static 'img/logo.png' %}" alt="">
			</div>
			<div class="auth-block">
                {% block content %}
{#              <h1>Авторизация в системе</h1>#}
{#				<form action="">#}
{#					<input type="email" placeholder="E-mail" class="number-auth">#}
{#					<input type="password" name="" id="" placeholder="Пароль">#}
{#					<input type="submit" value="Войти" class="savebut">#}
{#				</form>#}
                {% endblock content %}
			</div>
		</div>
	</main>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
	<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
</body>

</html>