{% extends 'base.html' %}

{% block mobile %}
	<!-- Меню и заголовок для мобилы -->
	<div class="const mobile-nav">
		<a href="javascript:;" class="menu-open"></a>
		<h1>
			Ссылки для приглашения  <!-- Дублировал для мобильной версии -->
		</h1>
	</div>
	<!-- /Меню и заголовок для мобилы -->
{% endblock mobile %}

{% block content %}
			<div class="content">
				<h1>
					Ссылки для приглашения
				</h1>


				<div class="content-body">

                <div class="reg-links">
                <label>Распространитель 2-го уровня: </label><input type="text" name="" id="" value="https://site.ru/?reg=asdwedwedwedew" readonly><br>
                <label>Кандидат в пайщики: </label><input type="text" name="" id="" value="Ссылка" readonly>
                </div>

                <input type="button" value="Сгененировать" class="savebut">
                <div class="info"><img src="img/information.svg" alt="">Ссылки успешно созданы. Ссылки активны 2 дня с момента создания</div>

				</div>

			</div>
{% endblock content %}
