{% load static %}
<footer>
    <div class="const">
        <div class="foot-block">
            <img src='{% static 'img/logo-w.png' %}' alt=""><br>
            <a href="/" class="tosupport"><span></span>Связаться с поддержкой</a><br>
            <!-- Дублировал для мобильной версии -->
            <a href="https://webfact.ru/" target="_blank" id="webfact" title="Перейти на сайт Webfact.ru">Made in
                <img src="{% static 'img/webfact-white.png' %}" alt="W">ebfact</a>
        </div>
        <div class="foot-block">
            Свидетельство: серия 59 № 888888888 от 20.12.14 года<br>
            выдано ИМНС РФ по Новому району г. Москвы<br>
            <br>
            ОГРН 404088888800666<br>
            ИНН 888800000099<br>
            р/с 88888800000069696988
        </div>

        <div class="foot-block">
            Адрес: 440013, Россия, г. Москва, ул. Егоркина, д. 125, кор. 2, офис 3145<br><br>
            Телефон: 0 000 000-00-00<br>
            Факс: 0 000 000-00-00<br>
            Эл. почта: info@info.com
        </div>

        <div class="foot-block">
            <a href="/" class="tosupport"><span></span>Связаться с поддержкой</a>
        </div>

    </div>
</footer>