{% extends 'base.html' %}

{% block mobile %}
	<!-- Меню и заголовок для мобилы -->
	<div class="const mobile-nav">
		<a href="javascript:;" class="menu-open"></a>
		<h1>
			История платежей <!-- Дублировал для мобильной версии -->
		</h1>
	</div>
	<!-- /Меню и заголовок для мобилы -->
{% endblock mobile %}


{% block content %}
			<div class="content">
				<h1>
					История платежей
				</h1>
				<div class="content-body">
					<table>
						<thead>
							<tr>
								<td>Сумма платежа</td>
								<td>Дата</td>
								<td>Статус</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>10 000₽</td>
								<td>20.09.2020</td>
								<td>В обработке</td>
							</tr>
							<tr>
								<td>10 000₽</td>
								<td>20.09.2020</td>
								<td>Подтвержден</td>
							</tr>
							<tr>
								<td>10 000₽</td>
								<td>20.09.2020</td>
								<td>Подтвержден</td>
							</tr>
							<tr>
								<td>10 000₽</td>
								<td>20.09.2020</td>
								<td>Подтвержден</td>
							</tr>
							<tr>
								<td>10 000₽</td>
								<td>20.09.2020</td>
								<td>Подтвержден</td>
							</tr>
							
						</tbody>
					</table>

				</div>

			</div>
{% endblock content %}