{% extends 'base.html' %}
{% load static %}

{% block mobile %}
	<!-- Меню и заголовок для мобилы -->
	<div class="const mobile-nav">
		<a href="javascript:;" class="menu-open"></a>
		<h1>
			Подтвердить взнос  <!-- Дублировал для мобильной версии -->
		</h1>
	</div>
	<!-- /Меню и заголовок для мобилы -->
{% endblock mobile %}


{% block content %}
			<div class="content">
				<h1>
					Подтвердить взнос
				</h1>

                {% include 'include/vznos_menu.html' %}

				<div class="content-body">
                    <form action="">
                        <label>Сумма платежа:</label>
                        <input type="text" placeholder="10 000"><label>₽</label><br>
                        <label>Дата платежа:</label>
                        <input type="date"><br>
                        <label>Фото/скан квитанции:</label><br><br>
                        <div class="file-inp">
                            <label><input type="file" name="file"><span>Выберите файл</span></label>
                        </div>
                        <input type="button" value="Отправить на проверку" class="savebut">
                    </form>

                        <div class="info"><img src="{% static 'img/information.svg' %}" alt="">Отправлено на проверку</div>
                        <div class="error"><img src="{% static 'img/error.svg' %}" alt="">Ошибка отправки. Обратитесь в <a href="#">поддержку</a></div>
				</div>

			</div>
{% endblock content %}