{% extends 'base.html' %}
{% load static %}

    {% block mobile %}
        <!-- Меню и заголовок для мобилы -->
        <div class="const mobile-nav">
            <a href="javascript:;" class="menu-open"></a>
            <h1>
                Внести платеж  <!-- Дублировал для мобильной версии -->
            </h1>
        </div>
        <!-- /Меню и заголовок для мобилы -->
    {% endblock mobile %}


    {% block content %}
        <div class="content">
            <h1>
                Внести платеж
            </h1>

            {% include 'include/vznos_menu.html' %}

            <div class="content-body">
                <a href="#" class="platez c1"><img src="{% static 'img/p2.svg' %}" alt=""><div>Программа <b>Быстрый дом</b><br><span>12 000₽</span></div></a>
                <a href="#" class="platez c2"><img src="{% static 'img/p2.svg' %}" alt=""><div>Программа <b>Качественная</b><br><span>26 800₽</span></div></a>
            </div>

        </div>
    {% endblock content %}